.tools-i-have-used {
  margin-top: 3.1em;
  display: flex;
  flex-flow: column nowrap;
}

.tools-i-have-used__title {
  margin-bottom: 1em;
  color: var(--black-light);
}

.tools-i-have-used__title_night_mode {
  font-weight: normal;
  color: var(--white);
}

.tools-i-have-used__title-icon {
  margin-right: .5em;
}

.tools-i-have-used__tools-group {
  display: flex;
  flex-wrap: wrap;
}

.tools-i-have-used__tools-item {
  border-radius: 4px;
  margin-right: .9em;
  margin-bottom: .9em;
  width: 50px;
  height: 50px;
}