.customer-projects {
  margin-top: 4em;
  display: flex;
  flex-flow: column nowrap;
}

.customer-projects__title {
  margin-bottom: 1em;
  color: var(--black-light);
}

.customer-projects__title_night_mode {
  font-weight: normal;
  color: var(--white);
}

.customer-projects__title-icon {
  margin-right: .5em;
}

.customer-projects__items-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer-projects__item {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2em;
}

.customer-projects__image {
  width: 300px;
  height: 200px;
  border-radius: 3px 3px 0 0;
  border: 1px solid var(--red);
  border-bottom: none;
}

.customer-projects__button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 0 0 3px 3px;
  border: 1px solid var(--red);
  background-color: var(--red);
  color: var(--white);
  transition: background-color .4s ease-in-out;
  padding: .7em 0;
}

.customer-projects__button:hover {
  background-color: var(--red-light2);
  cursor: pointer;
}

.customer-projects__button-icon {
  margin-right: .5em;
}

@media screen and (max-width: 1010px) {
  .customer-projects__image {
    width: 400px;
    height: 266px;
  }

  .customer-projects__button {
    padding: .9em 0;
    font-size: 10pt;
  }
}

@media screen and (max-width: 850px) {
  .customer-projects__image {
    width: 100%;
    height: auto;
  }

  .customer-projects__button {
    padding: 1em 0;
    font-size: 11.5pt;
  }
}